
.color1 {
  background-color: rgb(227, 125, 201);
  color:white ;
  width:30% ;
  font-size: medium;
}

.color2 {
    background-color: rgb(224, 55, 182);
    color:white ;
    width:30% ;
    font-size: medium;
  }

  .color3 {
    background-color: rgb(117, 20, 93);
    color:white ;
    width:30% ;
    font-size: medium;
  }
  




     

