.text{
  font-family: monospace;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:18px; 
    margin: top;
}
.container{
  font-family: monospace;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:18px; 
}

input[type="submit"]{
 outline:none;
  cursor:pointer;
 font-weight: 700;
color:white ;
background-color: rgb(49, 49, 186);
font-size: 18px;
border-radius:50px;
border:1px solid ;
width:20% ;
height: 50px; 
margin: 0%;
}